:root{

  --main-background: #060910;
  --light-background: #0d1015;
  --lighter: #2b2b2b;
  --highlight: red; 
}

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mains{

  display: grid;
  grid-template-columns: 20rem auto;
  height: 100vh;
  width: 100%;
  background-color: var(--main-background);
}

h1, h2, h3, p, span{

  color: white;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b4b4b; 
}

@media(max-width: 1240px){

  .mains{

    display: block;
  }
}